In [1]:
import pandas as pd
from sdv.datasets.local import load_csvs
from sdv.metadata import Metadata
from sdv.multi_table import HMASynthesizer
from sdv.single_table import GaussianCopulaSynthesizer, CTGANSynthesizer, TVAESynthesizer, CopulaGANSynthesizer
from sdv.evaluation.single_table import evaluate_quality
from sdv.datasets.demo import download_demo

In [39]:
data = load_csvs(folder_name='real_data')

In [41]:
# auto-detect metadata
# metadata = Metadata.detect_from_dataframes(data)
# load metadata from file
metadata = Metadata.load_from_json('metadata_fake_hotel_guests.json')

In [42]:
# get the first dataframe 
data = data[list(data.keys())[0]]
data.head(3)

,index,name,age,guest_email,has_rewards,room_type,amenities_fee,checkin_date,checkout_date,room_rate,billing_address,credit_card_number
0,1,Wang Bin,30,michaelsanders@shaw.net,False,BASIC,37.89,27-Dec-20,29-Dec-20,131.23,"49380 Rivers Street\nSpencerville, AK 68265",4.075085e+18
1,2,Sharma Manish,23,randy49@brown.biz,False,BASIC,24.37,30-Dec-20,2-Jan-21,114.43,"88394 Boyle Meadows\nConleyberg, TN 22063",1.800730e+14
2,3,Avery Scott,42,webermelissa@neal.com,True,DELUXE,0.00,17-Sep-20,18-Sep-20,368.33,"0323 Lisa Station Apt. 208\nPort Thomas, LA 82585",3.898350e+13

In [ ]:
from sdv.single_table import CTGANSynthesizer

synthesizer = CTGANSynthesizer(
    metadata,
    enforce_rounding=False,
    epochs=500,
    verbose=True
)

In [44]:
synthesizer.fit(data)

Gen. (-1.04) | Discrim. (-0.02): 100%|██████████| 500/500 [00:32<00:00, 15.39it/s]

In [45]:
synthesizer.sample(10)

,index,name,age,guest_email,has_rewards,room_type,amenities_fee,checkin_date,checkout_date,room_rate,billing_address,credit_card_number
0,16189848,Tom Prince,33,dsullivan@example.net,False,BASIC,0.000000,16-Oct-20,07-Jan-20,210.824854,"90469 Karla Knolls Apt. 781\nSusanberg, CA 70033",1.800527e+14
1,12023745,John Roberts,32,steven59@example.org,False,BASIC,0.000000,31-Oct-20,27-May-20,127.211520,"6108 Carla Ports Apt. 116\nPort Evan, MI 71694",3.597462e+15
2,15287077,Billy Murphy,35,brandon15@example.net,False,BASIC,13.598106,07-Jan-21,11-Mar-20,102.330143,86709 Jeremy Manors Apt. 786\nPort Garychester...,4.506225e+18
3,15968702,Maria Roy,32,humphreyjennifer@example.net,False,BASIC,20.532664,07-Jan-21,10-Jan-20,179.929424,"8906 Bobby Trail\nEast Sandra, NY 43986",3.508887e+15
4,2886621,Sandra Mercado,37,joshuabrown@example.net,True,DELUXE,8.572628,27-Jan-20,07-Jan-20,227.002864,"732 Dennis Lane\nPort Nicholasstad, DE 49786",3.018331e+13
5,5139537,Eric Sherman,41,moondavid@example.com,False,BASIC,0.000000,07-Jan-21,05-Aug-20,337.370991,"812 Kimberly Forges\nEast Brianafurt, TN 07793",3.476564e+14
6,14009891,Jerry Berger,37,patty61@example.com,False,SUITE,0.941304,05-Jan-20,08-Jan-21,83.800000,7999 Sheila Forges Apt. 089\nWest Briannahaven...,4.433146e+15
7,11808027,Kelly Turner,55,michellehill@example.net,False,SUITE,NaN,10-Mar-20,25-Sep-20,196.965008,"0794 Bell Causeway Suite 830\nPort Joseph, WV ...",6.561682e+15
8,15847670,Joan Patterson,34,loganosborne@example.org,False,SUITE,18.186809,07-Jan-21,04-May-20,206.902344,"436 Derek Walks Apt. 522\nDavisburgh, OK 13124",6.532732e+15
9,16653740,Sherry Mcdowell,32,gkey@example.org,False,BASIC,12.022684,22-Apr-20,30-Jan-20,96.128170,"26077 Small Courts\nBrandonshire, IN 30170",3.825030e+13

In [20]:
model_class = {
        'CTGAN': CTGANSynthesizer,
        'GaussianCopula': GaussianCopulaSynthesizer(metadata),
        'CopulaGAN': CopulaGANSynthesizer,
        'TVAE': TVAESynthesizer,
    }.get('GaussianCopula', GaussianCopulaSynthesizer(metadata))

In [21]:
model_class()

TypeError: 'GaussianCopulaSynthesizer' object is not callable

In [ ]:
    model.fit(data)
    synthetic_data = model.sample(num_rows)